<div>
  <h2>Welcome, {{newProf}}</h2>
  {{#if profPic}}
  <img src= {{{profPic}}} alt="Profile Image" width="300" height="300">
  {{/if}} 
  <button type="button" id="button1">My Top 5</button>
  <button type="button" id="button2">Get Recommendations</button>
    <select id = "genre-list">
    <option id = "genres-list"></option>
    </select>
  <button type="button">View Groups</button>
  <button type="button">View Friends</button>
</div>