<div>
  <h2>Welcome, {{newProf}}</h2>
  {{#if profPic}}
  <img src= {{{profPic}}} alt="Profile Image" width="300" height="300">
  {{/if}} 
  <button type="button" onclick="backTo5()" id="button1">My Top 5</button>
  <button type="button" onclick="getRecs()" id="button1">Get Recommendations</button>
  <button type="button">View Groups</button>
  <button type="button">View Friends</button>
</div>

