<div>
  <ul>
    <li>{{currentUser.images}}</li>
    <li>User Name: {{currentUser.display_name}}</li>
    <li>Email: {{currentUser.email}}</li>
    <li>Country: {{currentUser.country}}</li>
  </ul>
</div>
</br>
<button href="homepage.handlebars">Back to Home</button>